@tailwind base;

html,
body {
  overflow-y: scroll;
  height: 100%;
}

.ui-help-text {
  @apply text-xs font-bold tracking-widest text-gray-600 uppercase;
}

.ui-option-button {
  @apply text-gray-300 cursor-pointer;
}

.ui-option-button:hover {
  @apply text-gray-500;
}

.ui-button {
  @apply px-1 bg-gray-400 rounded-sm cursor-pointer;
}

.ui-button:hover {
  @apply bg-gray-500;
}

.ui-keystroke {
  @apply px-1 ml-2 text-xs bg-gray-400 rounded-sm;
}

.spin {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@tailwind components;
@tailwind utilities;
